<div class="container">
  <div class="row">

    <div class="col-md-8">

      <!-- Checkout Navigation -->
      <ul class="nav nav-pills mb-3">

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/checkout/address"
             routerLinkActive="active">
             Address
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/checkout/shipment"
             routerLinkActive="active">
             Shipment
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/checkout/review"
             routerLinkActive="active">
             Review
          </a>
        </li>

      </ul>

      <!-- ROUTER LOADS COMPONENTS HERE -->
      <router-outlet></router-outlet>

    </div>

    <div class="col-md-4">
      <app-order-summary></app-order-summary>
    </div>

  </div>
</div>
  





