<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" class="hero-img">
      
    </slide>
    <slide>
      <img src="assets/images/hero2.jpg" class="hero-img">

    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" class="hero-img">
         
    </slide>
    <slide>
      <img src="assets/images/hero4.jpg" class="hero-img">
      
    </slide>
    <slide>
      <img src="assets/images/hero5.jpg" class="hero-img">
      
    </slide>
    <slide>
      <img src="assets/images/hero6.jpg" class="hero-img">
      
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to SelfSpace</h1>
    </div>
</section>
<div class="container marketing">

     <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Discover Epic Stories!</h2>
        <p class="lead">From Japan to your shelf. Dive into a massive collection of manga series spanning action, romance, fantasy, horror, and slice of life.
        Whether you're following legendary shōnen battles or emotional seinen journeys, we have something for every reader.
        Build your personal library with classics and the latest releases straight from Japan.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 padding-left-20">
        <h2 class="featurette-heading ml-5">Collect Your Favorites</h2>
        <p class="lead ml-5">From iconic titles like Naruto, One Piece, and Attack on Titan to hidden gems and indie manga,
        explore carefully curated collections by genre and publisher. Find rare volumes, box sets,
        and special editions for true fans and collectors</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bslide2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Join the Manga World!</h2>
        <p class="lead">Whether you're a new reader or a lifelong otaku, our store brings together the best of manga culture.
        Browse new releases, track ongoing series, and immerse yourself in worlds filled with ninjas, pirates,
        demons, and mecha. Your next obsession starts here.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

  </div>