.container {
  background: linear-gradient(180deg, #020617, #0f172a);
  padding: 2rem;
  border-radius: 16px;
  color: #fff;
}

h2 {
  color: #f472b6;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

/* Empty cart */
.alert-info {
  background: #020617;
  border: 1px solid #f472b6;
  color: #f472b6;
}

/* Table */
.table {
  background: transparent;
  color: #ff2e63;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table td{
  color: #ff2e63;
}

/* Header */
.table thead th {
  color: #38bdf8;
  border-bottom: 1px solid #f472b6;
}

/* Rows */
.table tbody tr {
  background: linear-gradient(180deg, #020617, #0f172a);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.15);
}

.table tbody td {
  vertical-align: middle;
  border: none;
  //color: #e5e7eb;
}

/* Product image */
.table img {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 20, 147, 0.3);
}

/* Quantity buttons */
.btn-outline-secondary {
  border-color: #38bdf8;
  color: #38bdf8;

  &:hover {
    background: #38bdf8;
    color: #000;
  }
}

app-order-summary {
  display: block;
  margin-top: 1rem;
  background: linear-gradient(180deg, #020617, #0f172a);
  color: #f472b6;
  padding: 1.2rem;
  border-radius: 14px;
}

/* Checkout button */
.btn-success {
  background: linear-gradient(135deg, #22c55e, #4ade80);
  border: none;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover {
    filter: brightness(1.1);
  }
}



